/* 
    Document   : dbStyle
    Created on : Mar 28, 2013, 12:05:38 PM
    Author     : ramsharan
    Description:
        Purpose of the stylesheet follows.
*/
body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#dbMain{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
}
#dbMain #dbHeader{
    background-color: #A0A0A0;
    font-size: 21px;
    padding: 5px;
    width: 100%;
}
#dbMain #dbBody{
    width: 100%;
    min-height: 800px;
}

#dbMain #dbBody #dbSideBar{
    width: 20%;
    min-height: 800px;
    background-color: #D0D0D0;
    float: left;
}
#dbMain #dbBody #dbContent{
    width: 80%;
    min-height: 800px;
    background-color: #E0E0E0;
    float: right;
}
#dbSideBar ul{
    list-style-type: none;
    margin: 2px;
    padding: 2px;
}
#dbSideBar ul li ul{
    display: none;
}
#dbSideBar li a{
    text-decoration: none;
    color: black;
}

.menu{
    width: 100%;
}
.menuPart{
    width: 100%;
    background-color: #E0E0E0;
}
.menuPart li{
    font-size: 14px;
}
.mSelected{
    background-color: grey;
}