@charset "utf-8";
/* CSS Document */

ul li a {
    color: dimgray;

    text-decoration:none;
}

#sideNavBar
{
	width:100%;
	height:50px;
	margin-top:-20px;
}


#sideNavBar ul
{
	list-style-type:none;
	padding:0;
	margin:10px;
	margin-left:3px;
	
    

	/*margin-left:8%;*/
}

#sideNavBar ul li
{       

    display: inline;
    float: left;
    margin: 1px;
    padding: 4px;
    text-align: center;
    width: 63px;
		
	
}

#sideNavBar ul li a
{

	
	
	text-align:left; text-decoration: none;
 
	margin-bottom:20px;

	
	size:20px;
        /*text-decoration:blink;*/
        
	/*
	background:#ffd89b;
	border-right:1px solid #f5ab36;
	border-top:1px solid #f5ab36;
	border-right:1px solid #f5ab36;*/
}
#sideBarContent
{
	/*width:100%;
	height:387px;
    border:1px solid #D6D6D6;
    margin-bottom: 10px;
	background:rgba(154,198,211,0.1);
	margin-top:25px;*/
	
	/*background: none repeat scroll 0 0 rgba(154, 198, 211, 0.1);*/
    border: 1px solid #D6D6D6;
    height: 387px;
    margin-bottom: 10px;
    margin-top: 21px;
    padding: 10px 20px;
    width: 85%;
}

.content_changer ul li a 
{
        text-align:left; 
        text-decoration: none;	
	size:20px;
}
