
#sideNavBar
{
    width:100%;
    height:50px;
    margin-top:-20px;
}


#sideNavBar ul
{
    list-style-type: none;
    padding:0;
    margin:10px;
    margin-left:3px;

}

#sideNavBar ul li
{
    display:inline;
    /*float:left;*/
    width:60px;
    padding:1px;
    margin:1px;
    text-align:center;
    background-color:#C0C0C0;

}

#sideNavBar ul li a
{


    color:#000;
    /*display:block;*/

    text-decoration:none;
    
}
.sideBarContent
{
    width:100%;
    height:297px;
}
